/* Estilos específicos para el componente blog-post */
.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* Estilos para el contenido del artículo */
.prose img {
  border-radius: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.prose pre {
  background-color: #161a3c;
  border-radius: 0.5rem;
  padding: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
