/* @import "tailwindcss/base"; 
@import "tailwindcss/components";
@import "tailwindcss/utilities"; */

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }

.neon-title {
  text-shadow:
    0 0 10px #0ea5e9,
    0 0 20px #0ea5e9,
    0 0 40px #0ea5e9,
    0 0 80px #0ea5e9;
}

.neon-btn {
  box-shadow:
    0 0 10px #ec4899,
    0 0 20px #ec4899,
    0 0 40px #ec4899;
  transition: box-shadow 0.3s;
}
.neon-btn:hover {
  box-shadow:
    0 0 20px #ec4899,
    0 0 40px #ec4899,
    0 0 80px #ec4899;
}



